<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>【玩赚世界】边玩、边晒、边赚钱;旅游达人、旅游爱好者、买手展示和出售个人眼光的舞台。</title>
<meta name="description" content="玩赚世界是一款通过旅游分享获取打赏和达成交易的旅游社交金融APP，玩赚世界拥有旅游打赏、旅游众筹、当地人服务、结伴拼车、旅游代购等众多功能，并不断丰富打赏的应用场景，让用户通过“玩赚世界”真正实现“玩转世界”。" />
<meta name="Keywords" content="玩赚世界，旅游社交，旅游众筹，旅游金融，旅游代购，旅游红包，旅游打赏，结伴拼车，当地人，旅游攻略，游记，足迹，哪好玩 " />
<link rel="shortcut icon" href="/images/web/wanzhuan-logo.png" type="image/x-icon" id="stShortIcon" />
<link href="/css/web/base.css" rel="stylesheet" type="text/css" />
<link href="/css/web/product-minote-features.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="top">
	<div class="logo"><a href="###"></a></div>
	<div class="t_r">
		<ul>
			<li>
				<a href="###">
					<span></span>
					<strong><img src="/images/web/icon_50.jpg" width="216" height="222"/></strong>
				</a>
			</li>
			<li>
				<a href="http://weibo.com/u/5643647755/home?wvr=5&c=spr_sinamkt_buy_2345rc_weibo_t001" target="_blank">
					<span style="background-image:url(/images/web/icon_26_08.png);"></span>
				</a>
			</li>
		</ul>
	</div>
</div>
<div class="a_a">
	<div class="a_b">
		<div class="a_c"><img src="/images/web/icon_40_06.png" /></div>
		<div class="a_d"><img src="/images/web/icon_32_05.png" /></div>
		<div class="a_e"><span><img src="/images/web/a1_03.png" width="175" height="49"/><!--<img src="/images/web/icon_33_08_b.png"/>--></span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/data/wzsj.apk"><img src="/images/web/icon_34_08.png" /><img src="/images/web/icon_34_08_b.png"/><i></i></a></div>
	</div>
</div>

<div class="bd minote-features xm-visible-section-container" id="J_visibleSectionContainer">
    <div class="section section-1 J_section_1"></div>
    <div class="section section-2 J_section_2"></div>
    <div class="section section-3 J_section_3"></div>
    <div class="section section-4 J_section_4 eff_4">
        <div class="container">
			<div class="add_1"><img src="/images/web/icon_17_03.png" /></div>
			<div class="add_2"><img src="/images/web/icon_18_06.png" /></div>
            <div class="con con-1" style="display:none;">
                <h2 class="title">1400:1 超高对比度<br>Nega 负液晶显示技术</h2>
                <p class="desc">
                    通常手机亮部与暗部对比度仅能达到 1000:1 。负液晶之所以可以让屏幕拥有极高的对比度，是因为它的液晶单元有更好的通光性，同样功耗下屏幕更明亮。搭配 UV Align 技术，让液晶单元在显示黑色时关闭得更加彻底。暗部更暗，亮部更亮，最终实现了 1400:1 的超高对比度，让你所见图像更醒目，色彩更艳丽。
                </p>
            </div>
            <div class="pic pic-1" style="display:none;"></div>
            <div class="con con-2">
                <h2 class="title">每个人都有不同的<i>目的地</i></h2>
                <p class="desc">
                    人所心驰神往的目的地总有一个缘由，或在书中拾得，或在电影里偶见，抑或去往他人的故乡
                </p>
            </div>
            <div class="pic pic-2"></div>
        </div>
    </div>
    <div class="section section-5 J_section_5"></div>
    <div class="section section-6 J_section_6"></div>
    <div class="section section-7 J_section_7">
        <div class="container">
            <div class="con">
                <h2 class="title">
                    当朋友遇上<i>旅行</i>
                </h2>
                <p class="desc">
                    朋友能为你圆梦提供另一种可能性<br />1分钟发布你的旅行需求到朋友圈，寻求朋友助力<br />旅途中的你将更有意义的回报带给朋友拍照。
                </p>
               <!-- <a onclick="_msq.push(['trackEvent', 'ec34fc8af301e55c-03750bb1387760ba', '/minote/camera/', 'pcpid']);" data-stat-id="03750bb1387760ba" href="/minote/camera/" class="more">了解相机 &gt;</a>-->
            </div>
            <div class="pic"></div>
        </div>
    </div>
    <div class="section section-8 J_section_8"></div>
    <div class="section section-13 J_section_13"></div>
    <div class="section section-9 J_section_9">
        <div class="container">
			<div class="ball_1"><img src="/images/web/icon_5_12.png" /></div>
			<div class="ball_2"><img src="/images/web/icon_6_09.png" /></div>
			<div class="ball_3"><img src="/images/web/icon_7_11.png" /></div>
			<div class="ball_4"><img src="/images/web/icon_8_09.png" /></div>
			<div class="ball_5"><img src="/images/web/icon_9_12.png" /></div>
			<div class="ball_6"><img src="/images/web/icon_10_30.png" /></div>
			<div class="ball_7"><img src="/images/web/icon_11_22.png" /></div>
            <div class="con">
                <h2 class="title">
                    One more <i>thing……</i>
                </h2>
                <p class="desc">
                    不妨再想远一点，当你真心渴望某件事，全世界都会联合起来帮你……。
                </p>
            </div>
            <div class="pic"></div>
            <div class="circle"></div>
        </div>
    </div>
    <div class="section section-10 J_section_10">
		<div class="container">
            <div class="con con-1" style="display:none;">
                <h2 class="title">1400:1 超高对比度<br>Nega 负液晶显示技术</h2>
                <p class="desc">
                    通常手机亮部与暗部对比度仅能达到 1000:1 。负液晶之所以可以让屏幕拥有极高的对比度，是因为它的液晶单元有更好的通光性，同样功耗下屏幕更明亮。搭配 UV Align 技术，让液晶单元在显示黑色时关闭得更加彻底。暗部更暗，亮部更亮，最终实现了 1400:1 的超高对比度，让你所见图像更醒目，色彩更艳丽。
                </p>
            </div>
            <div class="pic pic-1" style="display:none;"></div>
            <div class="con con-2">
                <h2 class="title">行天下，先<i>为自己助力</i></h2>
                <p class="desc a_h">
                    <span><img src="/images/web/a2_07.png" width="179" height="53"/><!--<img src="/images/web/icon_14_03_b.png" />--></span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/data/wzsj.apk"><img src="/images/web/icon_16_03.png" /><img src="/images/web/icon_16_03_b.png" /><i></i></a>
                </p>
            </div>
            <div class="pic pic-2"></div>
        </div>
    </div>
    <div class="section section-11 J_section_11"></div>
    <div class="section section-12"></div>
</div>

</div>
    
<div class="footer">Copyright © 2015 wzshijie.com All Rights Reserved 京ICP备14034157号-16</div>
<script type="text/javascript" src="/js/web/base.js"></script>
<script type="text/javascript" src="/js/web/jquery.js"></script>
<script type="text/javascript" src="/js/web/jquery_002.js"></script>
<script type="text/javascript" src="/js/web/productMinote_002.js"></script>
<script type="text/javascript" src="/js/web/productMinoteFeatures.js"></script><!--card-->
<script type="text/javascript">
$(function(){
	var e4 = $(".eff_4").offset().top;
	$(window).scroll(function(){
		if($(window).scrollTop()>e4){
			$(".add_1").stop().animate({
				top:468+"px",
				opacity:1
			},300);
			$(".add_2").stop().animate({
				top:475+"px",
				opacity:1
			},500);
		}
	});
	
	$(".a_e a,.a_h a").each(function(){
		$(this).find("img").last().hide();	
	});
	$(".a_e a,.a_h a").hover(function(){
		$(this).find("img").hide();	
		$(this).find("img").last().show();	
	},function(){
		$(this).find("img").hide();	
		$(this).find("img").first().show();	
	});
});
</script>
</body>
</html>
