<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>玩赚世界——后台标签库管理</title>
</head>

<body>

  <form id="f_add" method="post">
    <table>
      <tr>
        <td align="right">标签名称<font color="red">*</font>:</td>
        <td><input name="labelStoreName" id="labelStoreName" style="width:500px;"/></td>
      </tr>
    </table>

    <p style="width:150px;margin-left:auto;margin-right:auto;">
      <input type="submit" value="  提 交  " />&nbsp;&nbsp;<input type="reset"
        value=" 重 置  " />
    </p>
  </form>
  <script type="text/javascript">
			(function() {
				f_edit_init();
			})();

			function f_edit_init() {
				$("#f_add").validate({
					
					success : function() {
					},
					errorPlacement : function(error, element) {
						if ('' != $(error).html()) {
							$(element).tooltip({
								position : 'right',
								content : $(error).html(),
								hideEvent : null
							}).tooltip('show').tooltip('tip').css({
								backgroundColor : '#fa8072',
								borderColor : '#fa8072'
							});
						} else {
							$(element).tooltip('destroy');
						}
					},
					submitHandler : function(form) {//表单的正常跳转页面
						f_add_submit(form);
					}
				});
			}

			function f_add_submit(form) {
				$(form).ajaxSubmit({
					url:"/ajax/bms/labelStore/labelStoreadd",
					type:"post",
					success: function(data){
						if(data.result==true){
							$.messager.alert('系统提示', "添加成功！", 'info');
							closeW(WAddId);
							$('#dg').datagrid('reload');
						}else{
							alert("添加失败");
						}
						
				    },
				    error:function(){
				    	
			 	    }
				}); 
				
			}
		</script>
</body>
</html>