<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>【玩赚世界】边玩、边晒、边赚钱;旅游达人、旅游爱好者、买手展示和出售个人眼光的舞台。</title>
<meta name="description" content="玩赚世界是一款通过旅游分享获取打赏和达成交易的旅游社交金融APP，玩赚世界拥有旅游打赏、旅游众筹、当地人服务、结伴拼车、旅游代购等众多功能，并不断丰富打赏的应用场景，让用户通过“玩赚世界”真正实现“玩转世界”。" />
<meta name="Keywords" content="玩赚世界，旅游社交，旅游众筹，旅游金融，旅游代购，旅游红包，旅游打赏，结伴拼车，当地人，旅游攻略，游记，足迹，哪好玩 " />
<link rel="shortcut icon" href="/images/web/wanzhuan-logo.png" type="image/x-icon" id="stShortIcon" />
<link href="/css/base.css" rel="stylesheet" type="text/css" />
<link href="/css/product-minote-features.css" rel="stylesheet" type="text/css" />
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript">
$(function(){
	var sUserAgent = navigator.userAgent.toLowerCase();
	var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
	var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
	var bIsMidp = sUserAgent.match(/midp/i) == "midp";
	var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
	var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
	var bIsAndroid = sUserAgent.match(/android/i) == "android";
	var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
	var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
	if (bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) {
		location.href='/wxxz';
	}else{
		$("body").show();
		$(".a_e a,.a_h a").each(function(){
			$(this).find("img").eq(1).hide();	
		});
		$(".a_e a,.a_h a").hover(function(){
			$(this).find("img").eq(0).hide();	
			$(this).find("img").eq(1).show();	
		},function(){
			$(this).find("img").eq(1).hide();	
			$(this).find("img").eq(0).show();	
		});
	}
});
</script>
<style>
.a_e i small {display:block;position:relative;}
.a_e i small big {display:block;width:141px;height:141px;background-color:#000;position:absolute;top:50px;left:25px;}
.t_r a i {display:block;position:absolute;top:32px;left:50%;margin-left:-96px;width:191px;height:212px;background:url(../images/index/icon_b_37_14.png);display:none;}
.t_r i small big {display:block;width:141px;height:141px;background-color:#000;position:absolute;top:50px;left:25px;}
.t_r a:hover i {display:block;}
</style>
</head>
<body style="display: none">
<div class="top">
	<div class="logo"><a href="/"></a></div>
	<div class="t_r">
		<ul>
			<li>
				<a href="javascript:void(0)">
					<span></span>
					<i><small><big><img src="/images/index/gzh.jpg" width="141" height="141"/></big></small></i>
<!-- 					<strong><img src="/images/index/icon_50.jpg" width="216" height="222"/></strong> -->
				</a>
			</li>
			<li>
				<a href="http://weibo.com/u/5643647755/home?wvr=5&c=spr_sinamkt_buy_2345rc_weibo_t001" target="_blank">
					<span style="background-image:url(/images/index/icon_26_08.png);"></span>
				</a>
			</li>
		</ul>
	</div>
</div>
<div class="a_a">
	<div class="a_b">
		<div class="a_c"><img src="/images/index/icon_b_31_04.png" /></div>
		<div class="a_d"><img src="/images/index/icon_b_32_07.png" /></div>
		<div class="a_e"><a href="https://itunes.apple.com/cn/app/wan-zhuan-shi-jie/id1039765356?mt=8"><img src="/images/index/icon_b_33_11.png"/><img src="/images/index/icon_b_35_11.png"/><i><small><big><img src="/images/index/ios.png" width="141" height="141"/></big></small></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/data/wzsj.apk"><img src="/images/index/icon_b_34_11.png" /><img src="/images/index/icon_b_36_11.png"/><i><small><big><img src="/images/index/android.png" width="141" height="141"/></big></small></i></a></div>
	</div>
</div>

<div class="bd minote-features xm-visible-section-container" id="J_visibleSectionContainer">
    <div class="section section-1 J_section_1"></div>
    <div class="section section-2 J_section_2"></div>
    <div class="section section-3 J_section_3"></div>
    <div class="section section-4 J_section_4">
        <div class="container">
			<div class="add_1"><img src="/images/index/icon_17_03.png" /></div>
			<div class="add_2"><img src="/images/index/icon_18_06.png" /></div>
            <div class="con con-1" style="display:none;">
                <h2 class="title">1400:1 超高对比度<br>Nega 负液晶显示技术</h2>
                <p class="desc">
                    通常手机亮部与暗部对比度仅能达到 1000:1 。负液晶之所以可以让屏幕拥有极高的对比度，是因为它的液晶单元有更好的通光性，同样功耗下屏幕更明亮。搭配 UV Align 技术，让液晶单元在显示黑色时关闭得更加彻底。暗部更暗，亮部更亮，最终实现了 1400:1 的超高对比度，让你所见图像更醒目，色彩更艳丽。
                </p>
            </div>
            <div class="pic pic-1" style="display:none;"></div>
            <div class="con con-2">
                <!--<h2 class="title">每个人都有不同的<i>目的地</i></h2>
                <p class="desc">
                    人所心驰神往的目的地总有一个缘由，或在书中拾得，或在电影里偶见，抑或去往他人的故乡
                </p>-->
            </div>
            <div class="pic pic-2"></div>
        </div>
    </div>
    <div class="section section-5 J_section_5"></div>
    <div class="section section-6 J_section_6"></div>
    <div class="section section-7 J_section_7 eff_7">
        <div class="container">
            <div class="con">
                 <p class="desc" style="font-size:30px;">
                    从前，朋友圈里  [到此一游]。
                </p>
               <h2 class="title">
                    现在，足记<i>[点指成金]</i>
                </h2>
               <!-- <a onclick="_msq.push(['trackEvent', 'ec34fc8af301e55c-03750bb1387760ba', '/minote/camera/', 'pcpid']);" data-stat-id="03750bb1387760ba" href="/minote/camera/" class="more">了解相机 &gt;</a>-->
            </div>
            <div class="pic"></div>
        </div>
    </div>
    <div class="section section-8 J_section_8"></div>
    <div class="section section-13 J_section_13"></div>
    <div class="section section-9 J_section_9">
        <div class="container">
			<!--<div class="ball_1"><img src="images/icon_5_12.png" /></div>
			<div class="ball_2"><img src="images/icon_6_09.png" /></div>
			<div class="ball_3"><img src="images/icon_7_11.png" /></div>
			<div class="ball_4"><img src="images/icon_8_09.png" /></div>
			<div class="ball_5"><img src="images/icon_9_12.png" /></div>
			<div class="ball_6"><img src="images/icon_10_30.png" /></div>
			<div class="ball_7"><img src="images/icon_11_22.png" /></div>-->
            <div class="con">
                <h2 class="title" style="margin-bottom:10px;">
                    点赞 太过敷衍 <i>打赏 才知珍贵</i>
                </h2>
                <p class="desc" style="font-size:30px;">
                    在这里，社交变得更有价值
                </p>
            </div>
            <!--<div class="pic"></div>-->
            <!--<div class="circle"></div>-->
        </div>
    </div>
    <div class="section section-10 J_section_10">
		<div class="container">
            <div class="con con-1" style="display:none;">
                <h2 class="title">1400:1 超高对比度<br>Nega 负液晶显示技术</h2>
                <p class="desc">
                    通常手机亮部与暗部对比度仅能达到 1000:1 。负液晶之所以可以让屏幕拥有极高的对比度，是因为它的液晶单元有更好的通光性，同样功耗下屏幕更明亮。搭配 UV Align 技术，让液晶单元在显示黑色时关闭得更加彻底。暗部更暗，亮部更亮，最终实现了 1400:1 的超高对比度，让你所见图像更醒目，色彩更艳丽。
                </p>
            </div>
            <div class="pic pic-1" style="display:none;"></div>
            <div class="con con-2">
                <h2 class="title">玩赚世界<br /><i>一款APP圆一个玩转世界的梦</i></h2>
                <p class="desc a_h">
                    <a href="https://itunes.apple.com/cn/app/wan-zhuan-shi-jie/id1039765356?mt=8"><img src="/images/index/icon_b_50_46.png" width="176" height="51"/><img src="/images/index/icon_b_35_11.png" width="176" height="51" /><i class="ios"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/data/wzsj.apk"><img src="/images/index/icon_b_51_48.png" width="176" height="51" /><img src="/images/index/icon_16_03_b.png" width="176" height="51" /><i class="android"></i></a>
                </p>
            </div>
            <div class="pic pic-2"></div>
        </div>
    </div>
    <div class="section section-11 J_section_11"></div>
    <div class="section section-12"></div>
</div>
<div class="footer">Copyright © 2015 wzshijie.com All Rights Reserved 京ICP备14034157号-16</div>
<script type="text/javascript" src="/js/web/base.js"></script>
<script type="text/javascript" src="/js/web/jquery.js"></script>
<script type="text/javascript" src="/js/web/jquery_002.js"></script>
<script type="text/javascript" src="/js/web/productMinote_002.js"></script>
<script type="text/javascript" src="/js/web/productMinoteFeatures.js"></script><!--card-->
</body>
</html>
