<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
<meta name="apple-touch-fullscreen" content="yes" /> <!--  一会试验下是否有必要存在 -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta http-equiv="x-rim-auto-match" content="none"/>
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<title></title>
<link href="/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript">
function common(){
 	var url =  window.location.href;
	var paraString = url.substring(url.indexOf("?")+1,url.length).split("&");
	var code = "";
	var state = "";
	for(var i =0;i<paraString.length;i++){
		if(paraString[i].split("=")[0]=="code"){
			code = paraString[i].split("=")[1];
		}
		if(paraString[i].split("=")[0]=="state"){
			state = paraString[i].split("=")[1];
		}
	}
	if(code==""){
		window.location.href = "http://www.wzshijie.com";
	}else{
		window.location.href = "/weixinlogin?code="+code+"&state="+state;
	}
}
</script>
</head>
<body onload="common()">
</body>
</html>
