<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
<meta name="apple-touch-fullscreen" content="yes" /> <!--  一会试验下是否有必要存在 -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta http-equiv="x-rim-auto-match" content="none"/>
<title>我的</title>
<link href="/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript">
function common(){
	var bH = $(".back").height();
	$(".title").height(bH).css("line-height",bH+"px");
	var tIh = $(".talk").find("img").height();
	$(".talk").css("padding-top",(bH-tIh)/2+"px");
	$(".talk").height(bH-(bH-tIh)/2);
	var tH = $(".search_top").outerHeight();
	$(".books_input").css("top",tH);
	var sH = $(".books_input").outerHeight();
	$(".search_top_zw").height(tH+sH);
	
	var tH = $(".talk_footer").outerHeight();
	$(".talk_footer_zw").height(tH);
	
	$(".books_input input").keyup(function(){
		var tV = $(this).val();
		if(tV=="搜索"){
			
		}else{
			$(this).siblings("img").hide();	
		}
		if(tV==""){
			$(this).siblings("img").show();	
		}
	});
	
	
	var wH = $(window).height();
	
	var fH = $(".footer_tianjia").height();
	var fH2 = $("#footer").outerHeight();
	$("#footer li:not(:eq(2))").height(fH);
	$(".footer_zw").height(fH2);
	$(".my_top strong").height($(".my_top strong").width());
};
</script>
</head>

<body onload="common()">

<div class="my_top">
	<span><img src="/images/my_bg_02.jpg" /></span>
	<strong><img src="${crrrentMember.membersImage}" style="height:100%"/></strong>
	<em>${crrrentMember.membersNickName}</em>
</div>

<div class="my_ul_a">
	<ul>
		<li><a href="/myPage/launch"><i><img src="/images/my_bg_a_05.png" /></i><span>我发起的</span><s><img src="/images/my_3_r_05.png" /></s><div class="clear"></div></a></li>
		<li><a href="/myPage/partake"><i><img src="/images/my_bg_b_09.png" /></i><span>我参与的</span><s><img src="/images/my_3_r_05.png" /></s><div class="clear"></div></a></li>
		<li><a href="/myPage/attention"><i><img src="/images/my_bg_c_09.png" /></i><span>我关注的</span><s><img src="/images/my_3_r_05.png" /></s><div class="clear"></div></a></li>
	</ul>
</div>

<div class="my_ul_b">
	<ul>
		<li><a href="/myPage/set"><i><img src="/images/my_bg_d_09.png" /></i><span>设置</span><s><img src="/images/my_3_r_05.png" /></s><div class="clear"></div></a></li>
	</ul>
</div>

<div class="footer_zw"></div>
<div id="footer"><#include "common/footer.html"></div>
<script type="text/javascript" src="/js/common/footer.js"></script>
</body>
</html>
