<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>玩赚世界——后台轮播图管理</title>
</head>

<body>

  <form id="f_edit" method="post">
    <input name="newsId"  type="hidden" value="${news.newsId}">
    <table>
      <tr>
        <td align="right">标题:</td>
        <td align="left"><input name="newsTitle"  value="${news.newsTitle}" style="width:500px;"/></td>
      </tr>
      <tr>
        <td align="right">作者:</td>
        <td align="left"><input name="newsWriter" value="${news.newsWriter}" style="width:500px;"/></td>
      </tr>
       <tr>
        <td align="right">新闻描述:</td>
        <td align="left"><textarea name="newsBrief" rows="5" cols="21">${news.newsBrief}</textarea></td>
      </tr>
      <tr>
         <td align="right">列表图:</td>
         <td align="left"><input type="file" name="file_updateupload" id="file_updateupload" /><font color="red" style="margin-left:10px;"></font></td>
      </tr>
      <tr>
	      	<td align="right"></td>
	         <td id="updateImage" align="left" style="position: relative;"><span><a style="position:absolute;height:16px;width:16px;" onclick="delImg(this)"  class="panel-tool-close"></a><label><input type='hidden' name='newsImg'  value="${news.newsImg}"><img src='${news.newsImg}' width='148' height='198' /></label></span></td>
	  </tr>
	  <tr>
			<td align="right">哪好玩详情:</td>
			<td align="left"><script id="ue_newsContent_edit" name="newsContent" type="text/plain">${news.newsContent}</script></td>
		</tr>
    </table>

    <p style="width:150px;margin-left:auto;margin-right:auto;">
      <input type="submit" value="提 交 " />&nbsp;&nbsp;<input type="reset"
        value=" 重 置  " />
    </p>
  </form>

  <script type="text/javascript">
         var ue_newsContent_edit;
			(function() {
				ue_newsContent_edit_editor();
				f_edit_init();
				news_Updateupload();
			})();

			function ue_newsContent_edit_editor() {
				if (undefined != ue_newsContent_edit) {
					ue_newsContent_edit.destroy();
				}
				ue_newsContent_edit = UE.getEditor('ue_newsContent_edit', {
					toolbars: [[
					            'fullscreen', 'source', '|', 'undo', 'redo', '|',
					            'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc', '|',
					            'rowspacingtop', 'rowspacingbottom', 'lineheight', '|',
					            'customstyle', 'paragraph', 'fontfamily', 'fontsize', '|',
					            'directionalityltr', 'directionalityrtl', 'indent', '|',
					            'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|', 'touppercase', 'tolowercase', '|',
					            'link', 'unlink', 'anchor', '|', 'imagenone', 'imageleft', 'imageright', 'imagecenter', '|',
					            'simpleupload', 'insertimage', 'emotion', 'scrawl', 'insertvideo', 'music', 'attachment', 'map', 'gmap', 'insertframe', 'insertcode', 'webapp', 'pagebreak', 'template', 'background', '|',
					            'horizontal', 'date', 'time', 'spechars', 'snapscreen', 'wordimage', '|',
					            'inserttable', 'deletetable', 'insertparagraphbeforetable', 'insertrow', 'deleterow', 'insertcol', 'deletecol', 'mergecells', 'mergeright', 'mergedown', 'splittocells', 'splittorows', 'splittocols', 'charts', '|',
					            'print', 'preview', 'searchreplace', 'help', 'drafts'
					        ]],
					initialFrameWidth : 640, //初始化编辑器宽度,默认1000
					initialFrameHeight : 300
				//初始化编辑器高度,默认320
				});
			}
			
			function news_Updateupload(){
				$("#file_updateupload").uploadify(
						{
							//上传使用的 Flash
							'swf' : '/plugin/uploadify/uploadify.swf',
							//后台处理程序的相对路径。
							'uploader' : '/ajax/bms/news/upload',
							'method' : 'get',
							//是否自动上传
							'auto' : true,
							// 按钮的宽度
							'width' : 60,
							// 按钮的高度
							'height' : 23,
							// 按钮上的文字
							'buttonText' : "上传",
							// 按钮的鼠标图标
							'buttonCursor' : 'hand',
							// 上传参数名称
							'fileObjName' : 'Filedata',
							// 两个配套使用
							// 扩展名
							'fileTypeExts' : "*.jpg;*.png",
							// 文件说明
							'fileTypeDesc' : "请选择 jpg png 文件",
							//限制上传文件的大小
							'fileSizeLimit' : '4000KB',
							'progressData' : 'speed',
					         'onInit':function(){
									$("#file_updateupload").css({"display":"inline-block"});
									$("#file_updateupload-queue").css({"display":"inline-block"});
								},
							 //上传成功
							'onUploadSuccess':function(file, data, response) {
							    	var obj = JSON.parse(data);
							    	var newsImg=obj.data;
								    $("#updateImage").html("<span><a style='position:absolute;height:16px;width:16px;'  onclick='delImg(this)' class='panel-tool-close'></a><label><input type='hidden' name='newsImg' value="+newsImg+"><img src='"+newsImg+"' width='148' height='198' /></label></span>");
							     }
				         } 
						);
			}
			function f_edit_init() {
				$("#f_edit").validate({
					success : function() {
					},
					errorPlacement : function(error, element) {
						if ('' != $(error).html()) {
							$(element).tooltip({
								position : 'right',
								content : $(error).html(),
								hideEvent : null
							}).tooltip('show').tooltip('tip').css({
								backgroundColor : '#fa8072',
								borderColor : '#fa8072'
							});
						} else {
							$(element).tooltip('destroy');
						}
					},
					submitHandler : function(form) {//表单的正常跳转页面
						f_add_submit(form);
					}
				});
			}

			function f_add_submit(form) {
				$(form).ajaxSubmit({
					url : '/ajax/bms/news/edit',
					type : "post",
					success : function(r) {
						if (r.result) {
							$.messager.alert('系统提示', "修改成功！", 'info');
							closeW(WEditId);
							$('#dg').datagrid('reload');
						} else {
							$.messager.alert('系统提示', r.ms, 'warn');
						}
					}
				});
			}
		</script>
</body>
</html>